.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../background.jpg");
  background-position: center;
  background-size: cover;
}
.intro-text {
  width: 100%;
  text-align: center;
}
.title {
  font-size: 65px;
}
.subtitle {
  font-size: 20px;
  padding-top: 10px;
}
.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.landingButton {
  width: 200px;
  height: 55px;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 300px;
  }
  .title {
    padding: 0 200px;
  }
}

@media only screen and (max-width: 760px) {
  .title {
    font-size: 55px;
  }
  .landingButton {
    width: 150px;
    height: 50px;
  }
}
